<a href="https://colab.research.google.com/github/DivyaYadav07/Assignment1/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **1 Add numbers and Concatinate strings**

---
### **1.1 Add two numbers**

In [1]:
a = 10				
b = 20
c = a + b       # Add two numbers
print (a, " + ", b, " --> ", c)

100  +  220  -->  320

---
### **1.2 Concatinate two strings**
---

In [2]:
a = "Divya"
b = " Yadav"
c = a + b		# Concatinate two strings
print (a, " + ", b, " --> ", c)

Divya  +   Yadav  -->  Divya Yadav

---
### **1.3 Input two strings from user and concatinate them**
---

In [4]:
a = input("Enter First String: ")
b = input("Enter Second String: ")
c = a + b		# concatinate two77 strings
print  (a, " + ", b, "      --> ", c)

# Run the program with (1) Two strings and (2) Two numbers

Enter First String: div
Enter Second String: yadv
div  +  yadv       -->  divyadv

---
# **Loop**
---
### **1.4 While Loop**

In [5]:
i=1
while i <= 10:
	print (4 * i)
	i = i+1

2
4
6
8
10
12
14
16
18
20

In [6]:
for i in range(1,15):
	print (3*i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42

In [7]:
for i in range(0,-10,-1):
	print (i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

---
### **1.5 Sum all numbers from 1 to 10**
---

In [8]:
a=0
for i in range(1,11):
	a=a+i
print ("Sum is --> ",a)

Sum is -->  55

In [ ]:
print ("Sum is --> ", sum(range(1,11)))

---
### **1.6 If-Else - Conditional Checking**
---

In [9]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
if  a < b: 
	print (a," < ",b)
	x = 90
	y = 100
else:
	print (a," > ",b)

Enter First No: 12
Enter Second No: 34
12  <  34